@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');

/*Card gird in home page*/
.overall-container{
    min-height: 100vh;
   
}

/*fillter position*/
.H-filter{
    display: flex;
    justify-content: flex-end;
    margin: 1em;
    font-size: 1em;
}

.H-filter-icon{
    font-size: 2em;
}

/*filter for drop down */
.H-filter-drop{
    text-decoration: none;
    font-family: 'Outfit', sans-serif;
    padding: 1em;
}

.H-fullpage{
    min-height: 100vh;
}

.H-Card-gird{
display:grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
gap: 5px;

}

/*css for the all product button*/
.allproductbtn {
    background-color: rgba(20, 20, 143, 0.774);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width:50px;
    height:50px;
    border-radius: 50%;
  }
.allproductbtn-position{
    display: flex;
    justify-content:center;
    position: sticky;
    bottom: 0px;
    margin-left: 10px;
}
  
@media screen and (max-width:660px){
    .H-Card-gird{
        display:grid;
        grid-template-columns: 1fr ;
        place-items: center;
        gap: 5px;
}
}

@media screen and (min-device-width: 661px) and (max-device-width:1000px){
    .H-Card-gird{
        display:grid;
        grid-template-columns: 1fr 1fr ;
        place-items: center;
        gap: 5px;
}
}

@media screen and (min-device-width: 1001px) and (max-device-width:1024px){
    .H-Card-gird{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;
        gap: 5px;
}
}