/*container position*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');


.US-overall{
    display: grid;
    place-items: center;
}

.US-container-position{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100Vh;
}

/*css for card container*/
.US-container{
   min-width:80%;
   min-height: 200px;
   background-color: #F5FFFA;
   padding: 1em;
   margin: 1em !important;
   font-family: 'Outfit', sans-serif;
   margin: 5px;
   
}

.US-container:hover{
    border:5px solid #d33a2c;
    margin: 0px;
}

.US-newcontainer{
    border:5px solid #d33a2c;
    margin: 0px; 
}

.US-gird-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.US-gird-container2{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

/*css for product image*/
.US-image{
    width:200px;
    height:200px;
}
.US-image-position{
    display: grid;
    place-content: center;
   
}
/*css for content in product*/
.US-content{
    margin: 1em;
    padding:10px;
}

/*css for buttons*/
.US-buttons{
    padding: 0.5em 2em 0.5em 2em;
    margin: 0.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    font-weight: 600;
    color: #ffff;
    background-color: rgba(49, 49, 235, 0.774);
    border-radius: 5px;
    border: none;
}

.US-buttons:hover{
    background-color: rgba(20, 20, 143, 0.774);
    cursor: pointer; 
    box-shadow: 0 0 10px rgba(20, 20, 143, 0.774);
}

@media screen and (max-device-width:990px) { 
    .US-gird-container{
        display: grid;
       grid-template-columns: 1fr;
    }
    /*css for product image*/
.US-image{
    max-width: 250px;
    max-height: 250px;
}
.US-container{
    width: 90%;
    background-color: #F5FFFA;
    padding: 0.5em;
    max-height: none;
    border:5px solid #d33a2c;
 }
 .US-container-position{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}
.US-overall{
    display: grid;
    place-items: center;
}

  }